.spinn-countable-item-caption{
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 12px;
}

.spinn-countable-item-count {
	position: relative;
	float: right;
}